//@import "bourbon";
@import "vars";
@media only screen and (max-width : 1900px) {}
@media only screen and (max-width : 1800px) {}
@media only screen and (max-width : 1700px) {}
@media only screen and (max-width : 1600px) {}
@media only screen and (max-width : 1500px) {}
@media only screen and (max-width : 1400px) {}
@media only screen and (max-width : 1367px) {}
@media only screen and (max-width : 1300px) {}



@media only screen and (max-width : 1199px) {

  .header-phone {
      margin-right: 30px;
  }

  .logo-center {
      margin: 0 30px;
  }
}
@media only screen and (max-width : 1000px) {

.item-horisontal {
  .halfcol {
    width: 100%;
    .toitem {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    .bbq-item-order {
      margin-bottom: 25px;
    }
  }
}

.swiper .swiper-slide img {
  object-fit: cover;
}


}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width : 992px) {
  #navbar-primary .navbar-nav > li {
    display: table;
    float: none;
    margin: 0 auto;
}



  #navbar-primary .navbar-nav > .header-phone {
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
  }

  #navbar-primary .navbar-nav > .work-time {
    //margin: 0 auto;
    margin-top: 15px;
    width: auto;
    a {

    }
  }

  #navbar-primary .navbar-nav > .logo-center {
    margin: 30px auto;
    width: auto;
  }

  .additionalmenu-top {
    margin-top: 15px;
  }

  #menu {
    margin: 0;
  }

  .menupage {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
  }

  .menu-white .slogan-top {
    margin-top: 65px;
  }

  .menu-white {
    #navbar-primary .navbar-nav {
      padding-bottom: 25px;
    }
  }
}

@media only screen and (max-width : 768px) {

.navbar-toggle {
  .icon-bar {
    background: #000;
  }

  &:after {
    content: "menu";
    position: absolute;
    left: -80px;
    top: 6px;
    color: #000;
    font: 700 19px/19px AvenirNext,sans-serif;
    text-transform: uppercase;
  }
}



.foodmenu {
  text-align: center;
  display: table;
  width: auto;
  margin: 0 auto;
  li {
    display : inline-block;
    padding: 15px;
    margin: 0 0 20px 0;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    float: none;
    clear: both;

  }
}


}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 712px) {
  .grid-wrap {
    padding: 0 15px;
  }
}


@media only screen and (max-width : 680px) {

  .menu-mobile--itself .close {
    top: 5px;
    left: 45%;
    width: 35px;
    height: 35px;
  }

  .breadcrumbs-top li {
    //padding: 25px 0;
    margin-bottom: 10px;
  }

  .orderform {
    width: 90%;
  }
}



@media only screen and (max-width : 560px) {

.bbqsingle-bottom-wrapper {
  .oneprice {
    display: block;
    float: left;
    line-height: 24px;
  }

  .counter {
    margin: 0;
    float: right;
    display: block;
  }

  .btn-singleorder {
    float: none;
    clear: both;
    margin: 30px auto 0;
    display: table;
  }
}

.footer-list {
  padding: 0;
}

footer {
  .urich-logo {
      float: left;
      margin-top: 30px;
  }
}

  .orderform {
    fieldset {
        margin-top: 15px;
        float: none;
        clear: both;
        width: 100%;
        select, input {
          width: 100%;
          max-width: 100%;
        }
    }

    .time {
      margin: 15px 0 0 0;
    }

    .name, .phone {
      margin-top: 15px;
      width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }

.orderform .date .order-select {
  width: 100%;
  }

}

@media only screen and (max-width : 480px) {
  .order-contact {
    width: 100%;

    // input {
    //   max-width: 100%;
    // }
  }

  .cart-singleitem .item-name {
    max-width: 335px;
    margin-left: 15px;
  }

  .cart-singleitem  .counter {
    display: table;
    float: none;
    clear: both;
    margin: 0 auto;
  }

  .resaurant-order {
    padding-bottom: 50px;
  }


}

@media only screen and (max-width : 690px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .bbq-header {
      font: 600 31px/33px AvenirNext,sans-serif;
  }

}

@media only screen and (max-width : 380px) {


  .slogan-top {
    font: 500 20px/36px AvenirNext,sans-serif;
  }

}

@media only screen and (max-width : 360px) {
  .top-buttons-wrap {
    a {
      margin: 0 auto 20px;
      display: table;
      float: none;
      clear: both;
      &:first-of-type {
        margin: 0 auto 20px;
        display: table;
      }

      &:hover, &:focus, &:visited, &:active {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .cols-three {
    //-ms-grid-columns: (minmax(315px,1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
  }

  .grid-item {
    .counter {
      left: 5px;
    }

    .bbq-item-order {
      right: 10px;
    }
  }

  .textsection .textcont {
    padding: 24px 20px;
  }

  .urich-logo span {
    font-size: 13px;
  }

  .orderform h2 {
      font: 600 25px/25px AvenirNext, sans-serif;
  }
}

@media only screen and (min-width: 561px) and  (max-width: 991px) {
  footer {
    .urich-logo {
     display: table;
     float: left;
     margin-left: 40px;
     margin-top: 20px;
   }

   .footer-social {
     margin-left: 40px;
   }
  }


  // footer .footer-social {
  //
  // }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .orderform h2 {
      font: 600 23px/23px AvenirNext,sans-serif;
  }
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /**/
}
