  @import "helpers";

html {
  overflow-x: hidden;
}

body {
    background: url(../img/pattern.png) repeat scroll 0 0 / 30%;
}

#mainpage {
  .search-ico {
    fill: #fff;
  }

  .search-open {
    background: url(../img/cross-mainpage.svg) no-repeat scroll center center !important;
    svg {
      display: none;
    }
  }
}
.additionalmenu-top {
  display: flex;
  width: auto;
  float: right;
  padding: 0;
  margin-bottom: -4px;
  li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 30px;
    a {
      width: 20px;
      height: 20px;
      display: block;
    }
    .insta-top {
      background: url(../img/instagram.svg) no-repeat scroll center center;
    }
    .facebook-top {
      background: url(../img/facebook.svg) no-repeat scroll center center;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  #search {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
  }


  .additionalmenu-top {
    .search-ico {
      fill: #fff;
    }
  }

}



.wrapper {
  // border: 1px solid #333;
  // margin: 30px auto;
  // max-width: 768px;
  // width: 100%;
  // height: 768px;
  // padding: 10px;

}




//---------------------------------------SECTION MENU-----------------------------------------------

//
// .video-top {
//     overflow: hidden;
//     position: relative;
//     height: 100vh;
//     width: 100vw;
//     display: table;
// }
//
// .fullscreen-bg__video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     display: table;
// }




.search-block {
  width: 100%;
	background-color: #10b4a4;
  height: 200px;
  display: block;
  position: relative;
  z-index: 5;
}



.testsec {
  background: #f00;
  width: 100%;
  height: 150vh;
  display: table;
}
.searchblock {
  background: #10b4a4;
  padding: 24px 0;
  margin-bottom: 19px;
  display: none;
  position: relative;
  z-index: 3;
}


/*font: 700 12px/40px AvenirNext,sans-serif;*/


.callback-phone {
  width: 308px;
  background: red;
}


.bbq-foodmenu {
  padding: 36px 0;
  background: #fff;
}

.popular-bbq {
  /*background: url(../img/pattern.png) repeat scroll 0 0 / 30%;*/
  // background-size: 30%;
}

.foodmenu {
  display: table;
  padding: 0;
  margin: 0 auto;
  li {
    float: left;
    list-style: none;
    margin-right: 53px;
    img {
      width: 100px;
      height: 80px;
      object-fit: contain;
      margin: 0 auto;
      display: table;
    }
    span {
      display: block;
    	font: 400 16px/16px AvenirNext,sans-serif;
    	text-align: center;
    	color: #363636;
      margin-top: 10px;
    }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

.bannersection {
/*  background: url(../img/pattern.png) repeat scroll 0 0 / 30%;*/
  padding-top: 50px;
  padding-bottom: 90px;
}

.arrwrap {
  position: relative;

 .swiper-button-next {
    right: -60px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
 }

 .swiper-button-prev {
    left: -60px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
 }
}



.week-item {
  border-bottom: dashed 1px #d8d8d8;
  width: 100%;
  height: 40px;
  display: table;
  padding: 25px;
  p {
    font: 500 16px/16px AvenirNext,sans-serif;
    color: #474747;
    display: table;
    width: 50%;
    float: left;
    span {
      font: 700 18px/18px AvenirNext,sans-serif;
      display: table;
      margin-top: 4px;
    }
  }
  a {
    display: table;
    float: right;
    width: 130px;
    height: 40px;
    background-color: #10b4a4;
    box-shadow: 0 3px 0 0 #0a6a60;
    font: 500 16px/40px AvenirNext,sans-serif;
    text-align: center;
    color: #fff;
  }
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}



  .top_slider {
    .top_greenslide {
      // border-radius: 10px;
	    //background-color: #10b4a4;
      img {
        // float: right;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      // h2 {
      //   font: 500 36px/39px AvenirNext,sans-serif;
      //   text-align: left;
      //   color: #fff;
      //   margin-top: 66px;
      //   margin-left: 77px;
      //   display: block;
      //   span {
      //     font-weight: 700;
      //   }
      // }

      // .button_greenslide {
      //   min-width: 223px;
      //   background-color: #fff;
      //   font: 500 16px/16px AvenirNext,sans-serif;
      //   padding: 15px 30px;
      //   text-align: center;
      //   color: #363636;
      //   margin-top: 38px;
      //   margin-left: 77px;
      //   display: table;
      // }
    }
  }

  .recommended-bbq {
    margin-bottom: 51px;
  }

  .test-overlay {
    width: 100%;
    display: table;
    background: #f00;
    height: 30vh;
  }

//---------------------------------------

.grid-wrap {
  display: grid;
  display: -ms-grid;
  width: 100%;
-ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 270px 270px 270px 270px;

  grid-auto-rows: minmax(340px, auto);
}

.grid-item {
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 70px;

  img {
    max-height: 230px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  h3 {
    width: 343px;
    font: 500 16px/19px AvenirNext,sans-serif;
    text-align: center;
    color: #363636;
    width: 100%;
    padding: 0  15px;
    margin-top: 10px;
  }
  .recommended-price {
    font: 700 20px/20px AvenirNext,sans-serif;
    width: 100%;
    text-align: center;
    color: #474747;
    display: block;
  }

  .counter {
    position: absolute;
    bottom: 20px;
    left: 50px;
  }
  .bbq-item-order {
    cursor: pointer;
    position: absolute;
    // position: static;
    // display: -webkit-flex;
    // display: -ms-flex;
    // display: flex;
    // align-self: flex-end;
    // flex-direcrion: column;
    // flex-wrap: wrap;

    bottom: 20px;
    right: 50px;
    width: 130px;
    height: 40px;
    border: solid 2px #10b4a4;
    font: 500 16px/37px AvenirNext,sans-serif;
    text-align: center;
    color: #363636;
    &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
      color: #363636;
    }
  }
}

.grid-item-horisontal {
  background: #f00;
  // display: grid;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  // grid-auto-rows: minmax(340px, auto);

  .cols-two {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
   display: grid;
   display: -ms-grid;
    // width: 100%;
    // grid-auto-rows: minmax(100px, auto);
  //  grid-column: 2;

    img {
      display: block;
      width: 100%;

    }

    .counter {
      position: relative;
    }
  }

}

.item-horisontal {

  .flexwrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 36px;
  }

    .halfcol {
      // display: -webkit-flex;
      // display: -ms-flexbox;
      // display: flex;
      // justify-content: center;
border-radius: 10px;
      background: #fff;
      width: 50%;
      // float: left;
      .toitem {
        img {
          height: 240px;
          object-fit: contain;
          border-radius: 10px 0 0 10px;
          // border-radius: 50px;
        }
      }

      .item-name {
        font: 500 16px/16px AvenirNext,sans-serif;
        text-align: center;
        color: #363636;
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
        margin-top: 25px;
      }
      .item-bbqcomposition {
        width: 100%;
        padding: 0 25px;
        margin-top: 20px;
        font: 500 13px/16px AvenirNext,sans-serif;
        text-align: center;
        color: #363636;
      }

      .itembbqparameters {
        display: table;
        width: 100%;
        margin-top: 20px;
        span {
          width: 50%;
          display: table;
          float: left;
          box-sizing: border-box;
          &:first-of-type {
            padding-left: 25px;
            font: 500 14px/18px AvenirNext,sans-serif;
            color: #474747;
            text-align: left;
          }

          &:last-of-type {
            padding-right: 25px;
            font: 700 18px/18px AvenirNext,sans-serif;
            color: #474747;
            text-align: right;
          }
        }
      }

      .counter {
        // width: 100%;
        margin-top: 25px;
        margin-left: 20px;
        float: left;
      }

      .bbq-item-order {
        width: 120px;
        height: 40px;
        border: solid 2px #10b4a4;
        font: 500 16px/40px AvenirNext,sans-serif;
        text-align: center;
        color: #363636;
        // padding: 10px 27px;
        display: table;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
      }
    }
}

.bbq-header {
  width: 100%;
  text-align: center;
  font: 600 36px/36px AvenirNext,sans-serif;
  color: #474747;
}

.bbq-category {
  font: 500 12px/12px AvenirNext,sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #d8d8d8;
  width: 100%;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
}

.cols-three {
  //grid-column-gap: 33px;
  grid-gap: 33px;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.cols-two {
  grid-gap: 33px;
  grid-template-columns: repeat(auto-fit, minmax(568px, 1fr));
}

.cols-four {
  grid-gap: 33px;
  grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));

  .counter {
    left: 15px;
  }

  .bbq-item-order {
    right: 15px;
  }
}

//---------------------------------------

  // .flexblock {
  //   background: #fff;
  // }


.bbq-breadcrumbs {
  width: 100%;
  display: table;

  .breadcrumbs-top {
    box-sizing: border-box;
    padding: 25px 30px;
    //padding: 25px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);

    li {
      font: 500 16px/16px AvenirNext,sans-serif;
      color: #3e3e3e;
      display: inline-block;
      list-style: none;
      margin-right: 24px;
      position: relative;
      a {
        color: #0a6a60;
      }
      &:after {
        position: absolute;
        content: "";
        right: -22px;
        top: 1px;
        width: 10px;
        height: 18px;
        transform: rotate(-90deg);
        background: url(../img/arrow.svg) no-repeat scroll 0 0;
      }

      &:last-of-type {
        margin-right: 0;
        &:after {
          content: none;
        }
      }
    }
  }
}


.clr-white {
    background: #fff;
    padding: 36px 15px;
    box-sizing: border-box;
}

.bbqsingle-itemhead {
    font: 600 24px/28px AvenirNext,sans-serif;
    text-align: left;
    color: #474747;
    margin-top: 0;
}

.bbqsingle-itemhead-weight {
    font: 500 16px/18px AvenirNext,sans-serif;
    text-align: left;
    color: #d8d8d8;
    margin-bottom: 20px;
    margin-top: 11px;
}

.bbqsingle-item-text {
  font: 500 14px/16px AvenirNext,sans-serif;
  text-align: left;
  color: #363636;
}

.bbqmenu-itemname {
  width: 100%;
  margin-top: 15px;
  font: 600 18px/40px AvenirNext,sans-serif;
  text-align: center;
  color: #363636;
}

.consist {
  border: dashed 1px #d8d8d8;
  padding: 20px 25px 26px 25px;
  width: 100%;
  position: relative;
  h3 {
    font: 500 16px/18px AvenirNext,sans-serif;
    text-align: center;
    width: 100%;
    color: #363636;
  }

  ul {
    margin: 0;
    padding: 0 0 0 20px;
    li {
      list-style: none;
      position: relative;
      font: 500 14px/1.5 AvenirNext,sans-serif;
      text-align: left;
      color: #363636;
      &:after {
        content: "-";
        position: absolute;
        left: -15px;
        top: 0;
        color: #10b4a4;
      }
    }
  }
}

.bbq-period {
  border: dashed 1px #d8d8d8;
  padding: 20px 0 26px 0;
  width: 100%;
}

.bbqsingle-bottom-wrapper {
  display: table;
  padding: 19px;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  background-color: rgba(16, 180, 164, 0.1);
  border-top: dashed 1px #d8d8d8;
  border-bottom: dashed 1px #d8d8d8;
  margin-top: 27px;

  .oneprice {
    display: inline-block;
    font: 700 24px/48px AvenirNext,sans-serif;
    color: #474747;
  }

  .counter {
    display: inline-block;
    margin-left: 70px;
    input {
      background: #fff;
    }
  }
  .btn-singleorder {
    width: 135px;
    // height: 40px;
    margin-top: 8px;
    display: inline-block;
    float: right;
    background-color: #10b4a4;
    padding: 9px 29px;
    box-sizing: border-box;
    box-shadow: 0 3px 0 0 #0a6a60;
    font: 600 18px/18px AvenirNext,sans-serif;
    text-align: center;
    color: #fff;
    &:hover, &:focus, &:active, &:visited {
      color: #fff;
      text-decoration: none;

    }
  }
}


// .col-md-6 {
//   .menusection-itemblock {
//     img {
//       max-height: 560px;
//     }
//   }
// }
//
//
// .col-md-3 {
//   .menusection-itemblock {
//     img {
//       max-width: 263px;
//     }
//   }
// }


.menusection-itemblock {

  img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
  }
  position: relative;

  .menu-ovelayblock {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;

    a {
      position: absolute;
    	left: 0;
    	right: 0;
    	margin-left: auto;
    	margin-right: auto;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 135px;
    	height: 40px;
    	background-color: #10b4a4;
    	box-shadow: 0 3px 0 0 #0a6a60;
    	font: 600 18px/40px AvenirNext,sans-serif;
    	text-align: center;
    	color: #fff;
      &:hover, &:active, &:visited, &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &:hover {
    .menu-ovelayblock {
      display: flex;
    }
  }
}

.slider-singleimg {
  display: block;
  width: 100%;
}

.singlebbq {
  width: 275px;
  height: 275px;
  object-fit: contain;
  border-radius: 15px;
}


  .textsection {
    margin-top: 90px;
    .textcont {
      border-radius: 10px;
  	  background-color: #fff;
  	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
      padding: 54px 50px;
      color: #363636;
      font: 500 16px/20px AvenirNext,sans-serif;
      p {
        margin-bottom: 20px;
	      text-align: justify;
        &:first-of-type {
          margin-top: 40px;
        }
      }
      h3 {
        font: 600 18px/20px AvenirNext,sans-serif;
      	text-align: justify;
      	color: #363636;
        margin-bottom: 20px;
      }
    }
  }

  .category-select {
    // float: right;
  }

  .category-sort {
    margin-top: -5px;
    float: right;
    label {
      font: 500 14px/20px AvenirNext,sans-serif;
       text-align: left;
       color: #474747;
    }

    .order-select {
      width: 180px;
    }
  }

  .restaurant-textsection {
    margin-top: 20px;
  }

  .mainsection-text {
    margin-bottom: 90px;
  }

.mapsection {
  width: 100%;
  #map {
     height: 370px;
     width: 100%;
    }
}




  footer {

    font: 400 15px/19px AvenirNext,sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    color: #fff;

    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    //background-color: #474747;
    background-color: #383737;
    padding: 46px 0;
    color: #fff;
    ul {
      li {
        list-style: none;
        margin-bottom: 17px;
      }
    }



    .urich-logo {
      float: right;
      img {
        display: block;
        width: 100%;
        max-width: 130px;
        //float: right;
      }
      span {
        color: #fff;
        display: block;
        //float: right;
      }
    }

    .footer-social {
      padding: 0;
      margin: 31px 0 0 0;
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .swiper {
    margin-bottom: 40px;
    .swiper-slide {
      width: 100%;
      height: 450px;
      img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
    }
  }

  .swiper-thumbnails {
    margin-top: 20px;

    span {
      display: inline-block;
      margin-right: 11px;
      width: 120px;
      // max-width: 120px;
      height: 90px;
      cursor: pointer;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

//--------------------------------------------------
//------------NEW-SLIDER-RESTAURANT-----------------
//--------------------------------------------------

    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }


    .gallery-top {
      height: 100%;
      width: 100%;
      .swiper-slide {
        img {
          width: 100%;
          height: 450px;
          object-fit: cover;
        }
      }
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
      margin: 20px auto 0 !important;
      .swiper-slide {
        img {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      position: relative;
      &:after {
        // content: "";
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // background: rgba(0,0,0, .65);
        // z-index: 777;
        // left: 0;
      }
      opacity: 0.3;
    }
    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
      // &:after {
      //   content: none;
      //
      // }
    }


//----------END-NEW-SWIPER-SLIDER-------------------

  .resaurant-order {
    width: 100%;
    min-height: 500px;
    position: relative;
    margin-bottom: 90px;
    &:after {
      content: "";
      position: absolute;
      background: url(../img/bbq-slider2.jpg) no-repeat scroll 0 0 / cover;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      filter: blur(1.3px);
      -webkit-filter: blur(1.3px);
    }

  }



  .orderform {
    position: relative;
    z-index: 2;
    width: 550px;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    display: table;
    margin-top: 50px;

    fieldset {
      float: left;
      label {
        display: block;
        font: 500 14px/16px AvenirNext,sans-serif;
        color: #474747;
      }
    }

    h2 {
      width: 100%;
      font: 600 36px/36px AvenirNext,sans-serif;
      text-align: center;
      color: #474747;
      margin-bottom: 40px;
    }
    .date {
      // .order-select {
      //   width: 180px;
      //   padding: 0;
      //   border: none;
      // }
      .form-group {
        width: 180px;
        padding: 0;
        border: none;
      }
    }

    .time {
      margin: 0 18px;

      .form-group {
        width: 113px;
        padding: 0;
        border: none;
      }
      // .order-select {
      //   width: 113px;
      //   padding: 0;
      //   border: none;
      // }
    }

    .place-quantity {
      .order-select {
        width: 115px;
      }
    }

    .name, .phone {
      margin-top: 20px;
      width: calc(50% - 10px);

      input {
        width: 100%;
        max-width: 215px;
        height: 35px;
        border-radius: 5px;
        border: solid 1px #d8d8d8;
        padding: 9px;
      }
    }

    .name {
      margin-right: 20px;
    }

    .submit {
      width: 100%;
      input {
        display: table;
        margin: 40px auto 0;
        width: 180px;
        height: 40px;
        background-color: #10b4a4;
        box-shadow: 0 3px 0 0 #0a6a60;
        text-align: center;
        font: 600 16px/40px AvenirNext,sans-serif;
        color: #fff;
        border: none;

      }
    }
  }

  // .testdiv {
  //   width: 100%;
  //   background: #f00;
  //   display: table;
  //   height: 500px;
  // }

  .form-corporatedinner {

    input[type="text"], input[type="email"] {
      height: 35px;
      border-radius: 5px;
      border: solid 1px #d8d8d8;
      font: 500 14px/35px AvenirNext,sans-serif;
      text-align: left;
      color: #474747;
      width: 100%;
      padding:  0 10px;

      @include placeholder {
        color: #d8d8d8;
        font: 400 14px/35px AvenirNext,sans-serif;
      }

    }

    .corporatedinner-select {
      width: calc(50% - 10px);
      float: left;
      select {
        width: 100%;
      }
    }

    .payment-method {
      margin-right: 20px;
    }

    label {
      display: block;
      font: 500 14px/15px AvenirNext,sans-serif;
      text-align: left;
      color: #474747;
    }

    fieldset {
      margin-bottom: 15px;
    }

    .name {
      margin-right: 20px;
    }

    .name, .phone {
      width: calc(50% - 10px);
      float: left;
    }

    .email {
      width: 100%;
    }

    .dinner-textarea {
      width: 100%;
      max-width: 100%;
      textarea {
        border-radius: 5px;
        background-color: #fff;
        border: solid 1px #d8d8d8;
        padding: 15px;
        resize: vertical;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 125px;
        color: #474747;
        font: 500 14px/20px AvenirNext,sans-serif;
        @include placeholder {
          color: #d8d8d8;
          font: 400 14px/20px AvenirNext,sans-serif;
        }
      }
    }

    .customradio {
      width: 70%;
      float: left;
      label {
        margin-bottom: 10px;
        line-height: 17px;
      }
      span {
        display: table;
        float: left;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }

        input[type="radio"] {
           display:none;
         }

         label {
             display:inline-block;
             background: transparent url("../img/rb-empty.svg") no-repeat scroll left center;
             padding-left: 30px;
         }

         input[type="radio"]:checked + label {
             background: transparent url("../img/rb-full.svg") no-repeat scroll left center;
         }
      }
    }

    .dinner-itemcount {
      .order-select {
        max-width: 163px;
        width: 100%;
      }
    }

    .complects-count {
      display: table;
      span {
        display: table;
      }

      .complects-items {
        float: left;
      }
      .complects-price {
        float: right;
      }
    }

    .complects-count-typo {
      font: 500 15px/17px AvenirNext,sans-serif;
      color: #7e7e7e;
    }
    .complects-count-payment {
      font: 600 19px/20px AvenirNext,sans-serif;
      color: #474747;
    }

    input[type="submit"] {
      width: 100%;
      height: 48px;
      border: none;
      background-color: #10b4a4;
      box-shadow: 0 3px 0 0 #0a6a60;
      font: 600 18px/48px AvenirNext,sans-serif;
      text-align: center;
      color: #fff;
      display: block;
      margin-top: 20px;
    }
  }

  //----------------------CART-FLY-ANIMATION-----------------------

  .anim-picwrap {
      position: relative;
      display: table;
      width: 100%;
  }


  .animfind {
    position: relative;


  }

  #animation-el {
    position: absolute;
   //  width: 100%;
    max-width: 368px;
    max-height: 230px;
    height: 100%;
    left: 0;
    top: 0;
   //  display: table;
    z-index: 999999;
    // -webkit-transition: all 3s;
    // transition: all 3s;
    opacity: 0;
    visibility: hidden;
  }


//--------------------MODAL---------------

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
  &:target {
    display: block;
    pointer-events: auto;
  }
}

// .modalDialog:target {
//
// }

.modalDialog > div {
  width: 100%;
	max-width: 500px;
  // height: 500px;
	position: relative;
	margin: 8% auto 0;
	padding: 5px 20px 13px 20px;
	//background: #fff;
  background: #fff url("../img/decoration-modal.png") repeat-x scroll 0 bottom / 80%;
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font: 600 30px/35px AvenirNext,sans-serif;
    width: 100%;
    text-align: center;
    color: #474747;
  }
  p {
    font: 500 16px/20px AvenirNext,sans-serif;
    text-align: center;
    color: #363636;
  }

  .delivery-adr {
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: solid 1px #d8d8d8;
    font: 500 14px/16px AvenirNext,sans-serif;
    text-align: left;
    margin-top: 25px;
    resize: horizontal;
  }

  .subm {
    height: 40px;
    background-color: #10b4a4;
    box-shadow: 0 3px 0 0 #0a6a60;
    font: 600 16px/40px AvenirNext,sans-serif;
    text-align: center;
    display: table;
    padding: 0 29px;
    margin: 25px auto 44px;
    color: #fff;
    &:hover, &:active, &:visited, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

}

.mdl-close {
	position: absolute;
	right: 15px;
	text-align: center;
	top: 15px;
	width: 24px;
	text-decoration: none;
  cursor: pointer;
}

//.mdl-close:hover { background: #00d9ff; }

// .arrr {
//   position: relative;
//   width: 100%;
//   display: table;
//   z-index: 999999;
// }


img[data-object-fit="contain"] {
	object-fit: contain;
}

img[data-object-fit="cover"] {
	object-fit: cover;
}



  @import "media";
